h2.head {
    align-self: flex-start;
}

section.body div.txt div.more {
    margin-top: 4rem;
    font-size: 1.7rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
}

div.more p {
    line-height: 1.6;
    margin-top: 1rem;
}