@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {

    --clr-primary: #ffffff;
    --clr-secondary: #0f172a;
    --clr-accent: #f1efef;
    --clr-bg-btn: #7A2E2E;
    /* --clr-primary: #F6F8F6#E7EFE8; */
    --clr-light: #ffffff;
    --clr-dark: #1F1B16;
    --clr-txt: #3F3A3A;

    
    --clr-txt-1: #1F2937/*#2F3A34*/;
   
    --clr-txt-light-2: #ded5d3;
    --clr-txt-light-3: #d6d6d6;
    --clr-shadow-1: 0 1px 3px rgba(0, 0, 0, .06);
    --clr-shadow-2: 0 1px 2px rgba(0, 0, 0, .04);
    

    --font-primary: "Inter", sans-serif;
    --font-secondary: "Raleway", sans-serif;
    --font-size-h3: 2.4rem;
    --font-size-h2: 3.4rem;
    --font-size-h1: 4rem;
    --font-size-txt: 1.8rem;
    --line-height-h1: 1.3;
    --line-height-txt: 1.5; 
    --font-weight-h1: 400;
    --font-weight-h2: 500;
    --font-weight-h3: 500;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    background: var(--clr-primary);
    color: var(--clr-txt);
    font-family: var(--font-primary);
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    line-height: var(--line-height-txt);
    width: 100%;
    min-height: 100%;
    font-size: var(--font-size-txt);
}

main.container {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 0 3rem;
}

/* NAVIGATION BAR STYLINGS */
nav {
    position: sticky;
    top: 0;
    width: 100%;
    height: 7.8rem;
    background: var(--clr-light);
    box-shadow: var(--clr-shadow-1),
                var(--clr-shadow-2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5rem 3rem;
    margin-top: 2rem;
    z-index: 10;
}

nav h3.name {
    font-weight: 400;
    color: var(--clr-dark);
}

nav div.name-logo {
    height: 100%;
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 0rem;
}

div.name-logo img.logo {
    width: 4rem;
    height: auto;
}

nav div.nav-btn {
    cursor: pointer;
    position: relative;
	z-index: 15;
	width: 2.4rem;
	height: 1.8rem;
}

div.nav-btn > * {
	position: absolute;
	left: 0;
	width: 100%;
	height: .2rem;
	background: var(--clr-bg-btn);
	border-radius: 1rem;
	transition: .5s ease;
}

div.nav-btn > :nth-child(1) {
	top: 0rem;
}

div.nav-btn > :nth-child(2) {
	top: .8rem;
}

div.nav-btn > :nth-child(3) {
	top: 1.6rem;
}

/*Active bar styling*/
div.nav-btn.active > :nth-child(1) {
	transform: rotate(45deg);
	transform-origin: left center;
}

div.nav-btn.active > :nth-child(2) {
	left: 1rem;
	/*opacity: 0;*/
	transform: scaleX(0);
}

div.nav-btn.active > :nth-child(3) {
	transform: rotate(-45deg);
	transform-origin: left center;
}

/*Navigation Drop Down Stylings*/
nav ul.links {
    position: absolute;
    list-style: none;
    background: var(--clr-light);
    width: 100%;
    height: 100vh;
    left: 0;
    transform: translateX(-100%);
    top: 7.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    padding: 6rem 4rem;
    border-top: .1rem dashed var(--clr-accent);
    transition: 1s ease;
}

nav ul.links.active {
    transform: translateX(0);
    top: 7.5rem;
}

nav ul.links li {
    text-transform: uppercase;
    border: .1rem solid var(--clr-accent);
    width: 100%;
    padding: 1.5rem 0;
    
    border-radius: 1rem;
}

nav ul.links li a {
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    color: var(--clr-txt);
}

nav ul.links li a.c-opened {
    font-weight: 500;
    color: var(--clr-secondary);
}

nav ul.links li a:hover {
    text-decoration: underline;
}

/* HERO SECTION STYLING */
main div.hero-section {
    position: relative;
    z-index: 2;

    max-width: 60rem;
    min-height: 100vh;

    color: var(--clr-light);

    background-image: url("../assets/images/hero-image.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    margin: 0 -3rem;
    padding: 2rem;
}

.hero-section .head {
    text-shadow: 0 4px 20px rgba(0,0,0,0.3);
    color: var(--clr-light);
    font-weight: 700;
}

.hero-section .short-descript {
    color: rgba(255,255,255,0.8);
    max-width: 520px;
    text-shadow: 0 2px 10px rgba(0,0,0);
}

/* Frontal Text */
main div.frontal-flex, div.frontal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: inherit;
    height: fit-content;
}

main h1.head {
    text-align: center;
    margin: 7rem 2rem 1rem;
    font-style: normal;
    line-height: var(--line-height-h1);
    color: var(--clr-dark);
}

/* Frontal Image */
div.frontImage {
    max-width: 100%;
    overflow: hidden;
    height: auto;
    border-top-right-radius: 15rem;
    border-bottom-left-radius: 15rem;
    margin: 2rem 0 6rem;
}

div.frontImage img {
    width: 100%;
    height: auto;
}

main p.short-descript {
    text-align: center;
    margin: 0 2rem;
}

/* BOOK CONSULTATION BUTTON */
a.btn.book-consultation {
    text-decoration: none;
    background: var(--clr-bg-btn);
    color: var(--clr-light);
    margin: 1rem 0;
    padding: 1.5rem 2.4rem;
    border-radius: 3rem;
    display: inline-block;
    font-size: calc(var(--font-size-txt) - .2rem);
    font-weight: 500;
}

/*  */
main div.whoIsGiseFor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    width: 100%;
    height: fit-content;
}

div.whoIsGiseFor h2 {
    color: var(--clr-dark);
}

/* TARGETS STYLING */
main section.targets {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 8rem;
    /*width: 100%;*/
    height: fit-content;
    margin: 6rem 0 3rem;
    background: var(--clr-accent);
    margin: 5rem -3rem 0;
    padding: 6rem 3rem 3rem;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}

main section.targets div.target {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2.5rem;
    width: 100%;
    height: fit-content;
}

main section.targets div.target h3 {
    margin-bottom: -1rem;
    color: var(--clr-dark);
}

/* WHAT WE DO STYLINGS */
main section.what-we-do {
    display: flex;
    flex-direction: column;
    align-items: left;
    /* text-align: center; */
    gap: 2rem;
    padding: 6rem 3rem 4rem;
    margin: -2rem -3rem 0;
}

main section.what-we-do h2 {
    color: var(--clr-bg-btn);
}

main section.what-we-do h3 {
    color: var(--clr-dark);
    margin-bottom: 1rem;
}

main section.what-we-do a.btn.services.learn-more,
main section.about-preview a.btn.about-us {
    background: var(--clr-dark);
    color: var(--clr-light);
    margin: 2rem 0;
    padding: 1.5rem 2.4rem;
    border-top-right-radius: 3rem;
    border-bottom-right-radius: 3rem;
    display: inline-block;
    text-decoration: none;
    font-size: calc(var(--font-size-txt) - .2rem);
    font-weight: 500;
}

main section.what-we-do div.tasks {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2.5rem;
    width: 100%;
    height: fit-content;
}

/* OUR APPROACH STYLING */
main section.our-approach {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;
    padding: 10rem 3rem 4rem;
    margin: -2rem -3rem 0;
    background-color: var(--clr-secondary);
    color: var(--clr-accent);
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

main section.our-approach img,
main section.targets div.target img {
    width: 100%;
    height: auto;
    border-radius: 1rem;
}

main section.our-approach h2 {
    color: var(--clr-light);
}

/* WHY CHOOSE US STYLING */
main section.why-choose-us {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding: 6rem 0rem 4rem;
}

main section.why-choose-us h2 {
    color: var(--clr-bg-btn);
}

main section.why-choose-us ul.benefits,
main section.clients-portfolio ul.clients {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: -2rem;
    padding-left: 3rem;
}

main section.why-choose-us ul.benefits li,
main section.clients-portfolio ul.clients li {
    list-style: square;
    margin-left: -1.2rem
}

/* CLIENT PORFOLIO STYLING */
main section.clients-portfolio {
    background: var(--clr-accent);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 6rem 3rem 4rem;
    margin: -2rem -3rem 0;
}

main section.clients-portfolio h2 {
    color: var(--clr-bg-btn);
}

main section.clients-portfolio ul.clients {
    margin-top: 1rem;
}

/* ABOUT PREVIEW STYLING */
main section.about-preview {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background: var(--clr-dark);
    color: var(--clr-light);
    padding: 6rem 3rem 4rem;
    margin: -2rem -3rem 0;
}
main section.about-preview a.btn.about-us {
    background: var(--clr-light);
    color: var(--clr-dark);
}

/* TESTIMONIALS STYLING */
main section.testimonials {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 3rem;
    margin: 3rem 0;
}

main section.testimonials h2 {
    color: var(--clr-dark);
}

main section.testimonials div.nameCont {
    display: flex;
    align-items: center;
    gap: 2rem;
    color: var(--clr-dark);
}

div.nameCont div.imageCont {
    width: 4.8rem;
    height: 4.8rem;
    border-radius: 50%;
    border: 1px solid none;
    overflow: hidden;
}

main section.testimonials div.imageCont img {
    width: inherit;
    height: inherit;
}

main section.testimonials div.nameCont span.name {
    font-size: calc(var(--font-size-txt)  - .2rem);
    font-weight: 500; 
}

/* BOOK NOW STYLING */
main section.book-now {
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 4rem;
    padding: 10rem 3rem 4rem;
    margin: 0 -3rem;
    background: var(--clr-accent);
}

main section.book-now a.btn.book-consultation{
    background: var(--clr-txt) ;
}

main section.book-now div.readyImage {
    max-width: 100%;
    overflow: hidden;
    height: auto;
    border-top-right-radius: 15rem;
    border-bottom-left-radius: 15rem;
    /*margin: 2rem 0 3rem;*/
}

div.readyImage img {
    width: 100%;
    height: auto;
}

main section.book-now h2 {
    font-size: calc(var(--font-size-h2) - .4rem);
}

/*FOOTER STYLINGS*/
footer {
    width: 100%;
    padding : 8rem 3rem;
    background: var(--clr-secondary);
    color: var(--clr-light);
    font-size: calc(var(--font-size-txt) - .2rem);
    position: relative;
}

footer div.foot-nav-links, div.contact {
    margin-bottom: 6rem;
}

footer div.foot-nav-links h3,
div.contact h3 {
    font-size: calc(var(--font-size-h2) - .6rem);
    margin-bottom: 1.5rem;
}

div.foot-nav-links li,
div.contact li {
    list-style: none;
    margin-bottom: 1rem;
    font-weight: 500;
}

div.contact div.contacts-list {
    font-size: var(--font-size-txt);
}

div.foot-nav-links li a:hover,
div.contact li a:hover {
    text-decoration: underline;
}

div.foot-nav-links li a.c-opened {
    text-decoration: underline;
    opacity: .8;
}

div.foot-nav-links li a.c-opened:hover {
    text-decoration: none !important;
}

div.social-media {
    display: flex;
    gap: 1.4rem;   
}

div.copyright {
    position: absolute;
    left: 0;
    bottom: 1rem;
    font-size: 1.4rem;
    text-align: center;
    width: inherit;
    font-size: 1.2rem;
    line-height: 2;
}

a.back-top {
    display: inline-block;
    background: var(--clr-light);
    color: var(--clr-dark);
    padding: .2rem 1rem;
    margin-top: 2rem;
    width: 100%;
    text-align: center;
}


footer  a,
footer li
 {
    color: var(--clr-light);
    text-decoration: none;
}

/* UTILITIES AND OTHER STYLINGS */
h1 {
    font-size: var(--font-size-h1);
    font-weight: var(--font-weight-h1);
}

h2 {
    font-size: var(--font-size-h2);
    font-weight: var(--font-weight-h2); 
    color: var(--clr-head-white-bg);  
}

h3 {
    font-size: var(--font-size-h3);
    font-weight: var(--font-weight-h3);
}

h1, h2, h3 {
    font-family: var(--font-secondary);
}

a {
    transition: 300ms ease-in;
}

a:hover {
    transform: scale(1.02);
}

.hidden {
    display: none !important;
}